.card {
  /* Add shadows to create the "card" effect */
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 300px;
  padding: 50px;
  flex-direction: column;
  margin: 20px;
  align-items: center;
  background-color: burlywood;
}
.imagen {
  width: 130px;
  height: 130px;
}
.container {
  /* text-align: center; */
}
